body {
    background-image: url('../images/bg_img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header h1 {
    text-align: center;
    padding: 30px;
}

article {
    width: 410px;
    border: 4px solid white;
    border-radius: 10px;
    margin: 10px 15px;
}

article > h2 {
    color: rgb(186, 184, 184);
    text-align: center;
    padding: 4px 30x;
}

article:first-of-type {
    /* border: 4px solid gray; */
    border-color:  rgb(186, 184, 184);
}

#inprogress {
    border-color: red;
}

#inprogress h2 {
    color: red;
}

#done {
    border-color: green;
}

#done h2 {
    color: green;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    padding: 6px 8px;
    text-transform: uppercase;
}

.todo li:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.2);
}

.inprogress li:nth-child(odd) {
    background-color: rgba(255, 0, 0, 0.5);
}

.done li:nth-child(odd) {
    background-color: rgba(0, 255, 0, 0.5);
}

